<a href="https://colab.research.google.com/github/yoonkei/Python_Basic/blob/main/Python(%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D%EC%9E%85%EB%AC%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python**

---

# 자료형(Data type)

프로그래밍을 할 때 쓰이는 자료형태

> 종류

1. 숫자(정수, 실수, 복소수, 8진수, 16진수)
2. 문자열
3. 리스트, 튜플, 딕셔너리
4. 집합

## 숫자형(Numbers)

숫자 연산은 사칙연산 지원

> 종류

1. 나누기 /
2. 거듭제곱 **
3. 나머지 % (항상 결과가 정수로만 나옴)
4. 소수점 버림 //

In [ ]:
7 / 4

3

In [ ]:
7 // 4

1

In [ ]:
7 % 4

3

##문자열(Strings)

###문자열 연산

합치기(+), *(반복 합치기)

In [ ]:
head = "Python"
tail = "is fun!"
head + tail

'Pythonis fun!'

In [ ]:
a = "Python"
a * 2

'PythonPython'

### Escape Code

\n 개행(줄바꿈)

\v 수직 탭

\t 수평 탭

In [ ]:
saying = "life is too short\nYou need Python"
print(saying)

life is too short
You need Python

### Indexing & Slicing

문자열 인덱싱

: 문자의 순서 메기기


**파이썬은 0부터 순서 메기는 거 주의!!!!!!**

**문자열 뒤에서부터 읽을 때는 마이너스 기호 붙이기**

In [ ]:
a = "Life is too short, You need Python"
print(a[0])
print(a[-1]) #뒤에서 세었을 때 첫번째 문자

L
n

문자열 슬라이싱

: 문자열 내의 서브문자열들 순서 메기기

**슬라이싱시 끝 인덱스는 안들어가고 시작 인덱스만 들어가는 것 의의하기**

In [ ]:
a[0:3] #0,1,2번쨰 글자
a[19:] #19부터 끝까지
a[:17] #처음부터 16까지
a[19:-7] #19번째 글짜에서 -8번째 글자까지

'You need'

인덱싱과 슬라이싱 이용하여 문자열 내 문자 바꾸기

문자열 = imutable data type(요소값 변경불가)

-> 새 문자열 만드는 방식(O)

-> 새로운 값 assign (X) = Type Error

In [ ]:
b = "Pithon"
print(b[:1] + 'y' + b[2:])

Python

### Formatting

문자열 내에 원하는 값을 삽입하여 동적으로 원하는 문자열 만들기

1. 숫자 삽입:  %d
2. 문자열 삽입:  %s -> 만능코드(다른 포멧코드를 이용해야하는 것들도 문자열로 치환해버리기 때문)
3. 부동소수점: %f
4. % 기호 그 자체:  %%

정렬과 공백

In [ ]:
print("%-10s"%"Hello") #문자열 공간은 10개, 완쪽 정렬, 나머지는 공백
print("%10s"%"World!") #문자열 공간은 10개, 오른쪽 정렬, 나머지는 공백

Hello
    World!

소숫점 표현

In [ ]:
print("%0.4f" % 3.42134234) # 전체 자리수는 맞출 필요 없고(0), 소숫점 아래 4번쨰 자리까지만(4)

3.4213

In [ ]:
print("%10.4f" % 3.42134234) # 전체 자리수는 10자리, 오른쪽으로 정렬, 남는 왼쪽 공간은 공백으로

    3.4213

문자열 포멧팅 함수

.format()이라는 고급 문자열 포맷팅 함수 활용

-> 포켓팅에는 주로 {}가 포멧팅 문자로 쓰이는데 그냥 기호로 쓰고 싶으면 {{, }} 이런 식으로 두 개 연속해서 쓰면 됨

In [ ]:
print("I eat {0} apples.".format(3)) # 숫자 대입
print("I eat {0} apples.".format("three")) # 문자열 대입

number = 3
print("I eat {0} apples.".format(number)) # 숫자 변수로 대입

number =10
day = "three"
print("I ate {0} apples, so I was sick for {1} days.".format(number, day)) #두 개 이상의 값도 한번에 가능

print("I ate {number} apples, so I was sick for {day} days.".format(number=10, day=3)) #이름으로 치환
print("I ate {0} apples, so I was sick for {day} days.".format(10, day=3)) #인덱스와 이름 혼용해서 치환

I eat 3 apples.
I eat three apples.
I eat 3 apples.
I ate 10 apples, so I was sick for three days.
I ate 10 apples, so I was sick for 3 days.
I ate 10 apples, so I was sick for 3 days.

포맷팅 함수를 이용한 정렬

In [ ]:
print("{0:>10}".format("Python")) # 10칸 확보, 오른쪽 정렬
print("{0:^10}".format("Python")) # 10칸 확보, 가운데 정렬
print("{0:<10}".format("Python")) # 10칸 확보, 왼쪽 정렬

    Python
  Python
Python

포멧팅 함수를 이용하여 공백 대신 다른 문자로 채우기

-> 정렬기호(<, >, ^) 바로 앞에 문자 넣어주면 됨

In [ ]:
print("{0:=^10}".format("Ruby")) # 10칸 확보, 가운데 정렬, 공백 대신 '='기호 삽입

===Ruby===

포멧팅 함수를 이용용하여 소수점 표현

In [ ]:
c = 3.141592
print("{0:0.4f}".format(c)) # 소수점을 4자리까지만 표현하여 치환
print("{0:10.4f}".format(c)) # 10칸 확보,오른쪽 정렬, 4자리까지만 표현하여 치환

3.1416
    3.1416

다양한 문자열 함수들

원본은 바뀌지 않고 출력만 바뀐 상태로 ( 문자열은 immutable하기 때문)

In [ ]:
d = "hello"
print(d.upper()) # 소문자 -> 대문자

e ="HELLO"
print(e.lower()) # 대문자 -> 소문자

HELLO
hello

In [ ]:
print(d.count("l")) # 단어 안에 해당 문자가 몇개 있는지

2

In [ ]:
print(d.find("l")) # 헤당 문자열이나 문자가 처음 나온 위치의 인덱스 반환, 없는 경우 -1 반환

print(d.index("l")) # 헤당 문자열이나 문자가 처음 나온 위치의 인덱스 반환, 없는 경우 에러 발생

2
2

In [ ]:
f = ","
print(f.join("abcd")) # 주어진 문자열의 각 문자 사이에 문자열 변수 값 삽입

a,b,c,d

In [ ]:
g = " hello "
print(g.lstrip()) # 왼쪽 공백(white character)제거
print(g.strip()) # 양쪽 공백 제거
print(g.rstrip()) #오른쪽 공백 제거

hello
hello
 hello

In [ ]:
h = "Life is too short"
print(h.replace("Life", "You hair")) # 문자열 바꾸기: replace(바뀔 문자열, 바꿀 문자열, 바꿀 횟수, 여러 개 있으면 다 바꿈꿈

You hair is too short

In [ ]:
h = "Life is too short"
print(h.split()) # 문자열나누기: ()안에 인자가 없으면 공백을 기준으로 문자열 분리 -> 리스트로 저장

i = "a,b,c,d"
print(i.split(",")) # ()안에 구분자로 ","가 있으니 이를 기준으로 부분 문자열로 분리 -> 리스트로 저장

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

이외에도 다양한 함수들이 있음

* capwords(s) : 메 단어의 첫 글자 대문자로 / string 패캐지의 함수임
* rjust(s, width) : 오른쪽으로 정렬
* ljust(s, width) : 왼쪽으로 정렬
* rfind(s, sub) : 뒤쪽부터 찾아서 리턴

# 리스트(List)

숫자든 문자열이든 루프를 돌거나, 한꺼번에 다뤄야 할 필요가 있을 때 사용하는 자료구조

## 리스트 인덱싱

문자열에서처럼 인덱싱이 적용됨

### 복잡한 리스트에서의 인덱싱

1) 2차원 인덱싱 : 리스트 안에 리스트가 있는 경우

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]
print(a[-1][0]) # 2차원 인덱싱
print(a[-1][1])
print(a[-1][2])

a
b
c

2) 3차원 인덱싱 : 삼중 리스트 구조

In [ ]:
a = [1, 2, ['a', 'b', ["Life", 'is']]]
print(a[2][2][0])
print(a[2][2][1])

Life
is

## 리스트 슬라이싱

슬라이싱 = 부분을 발췌하는 것

문자열 슬라이싱과 동일 -> 합치기(+), 반복하기(*)

### 복잡한 리스트에서의 슬라이싱

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

### 리스트의 수정 변경

immutable: 문자열, 튜플

mutanle: 리스트 -> 변경 가능

In [ ]:
a = [1, 2, 3]
a[2] = 4
print(a)

[1, 2, 4]

In [ ]:
a[1:2] = ['a', 'b', 'c'] # 값으로 대체(슬라이싱 이용) : a[1]과 a[2] 사이의 리스트를 ['a', 'b', 'c']로 바꾼다
print(a)

[1, 'a', 'b', 'c', 4]

In [ ]:
a[2] = [5, 6] # 항 -> 객체로 대체(리스트 이용) : 리스트 a의 세번째 요소를 [5, 6]으로 바꾼다
print(a)

[1, 'a', [5, 6], 'c', 4]

### 리스트의 삭제

In [ ]:
a[1:3] = [] # 값만 삭제
print(a)

[1, 'c', 4]

In [ ]:
del a[1] # 내장연산자/객체 이용
print(a)

[1, 4]

In [ ]:
del a[0:1] # 내장연산자/객체 이용
print(a)

[4]

## 리스트 관련 함수들

append(x): 리스트의 맨 마지막에 x 추가 (모든 자료형 추가 가능)

In [ ]:
a = [1, 2, 3]
a.append(4)
print(a)

[1, 2, 3, 4]

sort() : 리스트 정렬, 순서대로 정렬 - 문자의 경우 알파벳 순서대로 정렬 , 리스트 원본이 바뀜

In [ ]:
a = [1, 5, 4, 2, 3]
a.sort()
print(a)

[1, 2, 3, 4, 5]

reverse() :  리스트 뒤집기, 정렬과는 상관없이 원래의 역순으로 뒤집어 줌 , 리스트 원본이 바뀜

In [ ]:
a = ['a', 'c', 'b']
a.reverse()
print(a)

['b', 'c', 'a']

index(x): 인덱스에 x라는 값이 있으면 그 위치의 인덱스 값을 반환, 리스트에 없는 값을 주면 에러남

In [ ]:
a = [1, 2, 3]
print(a.index(1))
print(a.index(2))
print(a.index(3))

0
1
2

insert(a, b) :  리스트의 a번째 위치에 b 삽입

In [ ]:
a = [1, 2, 3]
a.insert(0, 4)
print(a)

[4, 1, 2, 3]

remove(x): 처음 나오는 x를 제거, x가 여러개있으면 제일 첫번째 것만 제거

In [ ]:
a = [1, 2, 3, 1, 2, 3]
a.remove(1)
print(a)

[2, 3, 1, 2, 3]

pop(): 리스트의 맨 마지막 요소 리턴하고, 리턴한거 값 삭제

pop(x): 리스트의 x번째 요소를 리턴하고 그 요소는 삭제

In [ ]:
a = [1, 2, 3]
print(a.pop())
print(a)

3
[1, 2]

count(x) :  리스트에서 x가 몇 번 나오는 지 횟수 알려줌

In [ ]:
a = [1, 2, 3, 4, 1]
print(a.count(1))

2

extend(x): x에는 리스트만 올 수 있고, 원래의 리스트에 x리스트를 덧붙여 리스트를 확장시킴

In [ ]:
a = [1, 2, 3]
a.extend([4, 5])
print(a)

[1, 2, 3, 4, 5]

len(): 리스트 안의 원소의 개수 구할 때

In [ ]:
animals = []
animals.extend(['cat', 'dog', 'mouse'])
count = []
count = len(animals) # 리스트 안의 원소의 개수 len()
print(animals)
print(count)

## 리스트의 복사

In [ ]:
a = [1, 2, 3]
b = a # b는 a가 가르키는 동일한 리스트를 가르키고 있는 변수임 -> a가 수정되면, b도 수정
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

a가 변해도 b가 변하지 않게 하려면?

=  a와 같은 값을 가지면서, a를 가르키는 리스트 객체와는 다른 리스트 객체를 가지게 하는 방법은 ?

1. [:] 이용

In [ ]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

2. copy 모듈

copy모듈을 import해서 복사하고, a와 b 두변수가 같은 값을 가지지만, 서로 다른 객체로 생성되었는지 is 연산자를 통해 확인

** is 연산자 : 서로 동일한 객체인지 아닌지 알려주는 연산자

In [ ]:
from copy import copy
b = copy(a)
print(b is a)

False

# 튜플(tuple)

1.  리스트의 read-only 버젼임 -> immutable해서 한번 만들면 그 값을 수정할 수 없음
* 튜플: 값이 항상 변하지 않는 데이터, 변하지 않았으면 하는 데이터
* 리스트: 수시로 데이터의 값을 변화시켜야 하는 경우

2. 튜플은 ()로 둘러싼다 (리스트는 []로 둘러쌈)

3. 한 개의 요소만 갖는 튜플은 반드시 요소 뒤에 , 넣어야함: (1) != (1, )

4. 튜플을 처음 생성할때에만 () 생략해도 됨

5. 리스트와 동일하게 인덱싱, 슬라이싱, 튜플 더하기, 튜플 곱하기가 가능하나 튜플 요소 값을 변경, 삭제하는 것은 불가능함

# 딕셔너리(Dictionary)

= Map, Associative array, Hash

Key와 Value를 한 쌍으로 갖는 자료형

- Key에는 변할 수 없는 immutable한 것만 와야함(리스트 딕셔너리 ㄴㄴ, 튜플 ㅇㅇ)
- Key가 중복되면 제일 처음 하나를 제외한 나머지의 것들은 무시됨

리스트, 튜플, 문자열은 요소값을 얻기 위해 인덱싱, 슬라이싱을 사용한 반면, 딕셔너리는 Key를 이용하여 Value를 얻으면 됨!

In [ ]:
grade = {'Kang':100, 'Lee':10}
print(grade['Kang']) #리스트와 달리 [ ]안의 값은 Key 값을 나타냄

100

## 딕셔너리 쌍 추가/삭제

* 새로운 Key에 Value를 assign하면 바로 추가
* 딕셔너리는 순서를 따지지 않음 (추가될때 순서 원칙 없이 추가 됨)
* 딕셔너리는 중복이 되는 경우 제일 처음 것만 인정함

In [ ]:
dic ={1:'a'}

dic[2] = 'b'
print(dic)

dic[3] = [1, 2, 3]
print(dic)

del dic[3]
print(dic)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 3: [1, 2, 3]}
{1: 'a', 2: 'b'}

## 딕셔너리 관련 함수

Key 리스트 만들기

dic.keys() : 딕셔너리 dic의 Key들만 모아서 dict_keys 객체를 리턴

이를 리스트로 저장하고 싶으면 list(dic.keys())

In [ ]:
a = {'Name':'susie', 'Phone':'010-1234-1234', 'Brith':'11/18'}
print(a.keys())

dict_keys(['Name', 'Phone', 'Brith'])

Value 리스트 만들기

dic.values() : 딕셔너리 dic의 value들만 모아서 dict_values 객체를 리턴

In [ ]:
print(a.values())

dict_values(['susie', '010-1234-1234', '11/18'])

Key Value쌍 얻기

dic.items() : key와 value 쌍을 튜플로 묶어, dict_itens 객체로 리턴해줌

In [ ]:
print(a.items())

dict_items([('Name', 'susie'), ('Phone', '010-1234-1234'), ('Brith', '11/18')])

Key:Value쌍 모두 지우기

dic.clear() : 딕셔너리 안에 있는 모든 요소들을 삭제

** [] = 빈리스트, () = 빈 튜플, {} = 빈 딕셔너리

In [ ]:
a.clear()
print(a)

{}

Key로 Value 얻기

dic.get(x) :  key x에 대응되는 value를 리턴함

- dic[y]: 해당 딕셔너리에 y가 없는경우 예외 발생

- dic.get[y]: 해당 딕셔너리에 y가 없는 경우 None을 리턴

In [ ]:
a = {'Name':'susie', 'Phone':'010-1234-1234', 'Brith':'11/18'}

print(a.get('Name'))
print(a.get('Phone'))
print(a.get('Brith'))

susie

In [ ]:
print(a.get('Adress'))

None

In [ ]:
print(a['Adress'])

KeyError: ignored

# 집합(Set)

1. 중복을 허용하지 않음
2. 순서가 없음
 - 자료의 중복을 제거하기 위한 필터로 종 이용
 - 딕셔너리처럼 순서가 없으니 인덱싱을 지원하지 않음
3. set 생성자를 이용하여 집합을 만듦

In [ ]:
s1 = set([1, 2, 3])
print(s1)

s2 = set("Hello")
print(s2) #집합이여서 입력 순서와 관계없이 출력

{1, 2, 3}
{'o', 'e', 'l', 'H'}

## 교집합

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 & s2) # 기호 이용
print(s1.intersection(s2)) #함수 이용

{4, 5, 6}
{4, 5, 6}

## 합집합

In [ ]:
print(s1 | s2) # 기호 이용
print(s1.union(s2)) #함수 이용

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

## 차집합

In [ ]:
print(s1 - s2) # 기호 이용
print(s1.difference(s2)) #함수 이용

{1, 2, 3}
{1, 2, 3}

In [ ]:
print(s2 - s1) # 기호 이용
print(s2.difference(s1)) #함수 이용

{8, 9, 7}
{8, 9, 7}

## 집합의 원소 추가/삭제

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])

s1.add(7) # 원소 1개씩 추가
print(s1)

s1.update([8, 9, 10]) # 여러 개의 값 한꺼번에 추가
print(s1)

s1.remove(10) # 특정 원소 제거
print(s1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

# 참과 거짓

문자열
- 참 : "Python"
- 거짓: "" (비어있음)

리스트
- 참 : [1, 2, 3]
- 거짓: [] (비어있음)

튜플
- 참 : (1, 2, 3)
- 거짓: () (비어있음)

딕셔너리
- 참 : {'baseball':'야구', 'basketball':'농구구'}
- 거짓: {} (비어있음)

숫자
- 참 : 1, 2, 3 ,,,
- 거짓: 0

None : 이 자체로도 거짓

# 변수

객체(파이썬에서 사용되는 모든 것)을 가르키는 용어

In [ ]:
a = 1
# 1이라는 값을 가지는 정수 자료형이 메모리에 생성
# a는 변수 이름으로, 해당 객체가 저장된 메모리 위치를 가르키는 참조자(reference)

In [ ]:
a = 3 # a가 정수 3을 저장하고 있는 객체를 가르킴
b = 3 # b가 정수 3을 저장하고 있는 객체를 가르킴

print(a is b)
# 정수 3을 가르키고 있는 변수의 개수가 2개
# 참조 계수(Reference Count)가 2

True

변수 없애기

= Garbage Collection (쓰레기 수집)

= 참조계수가 0이 되면 객체는 사라짐

In [ ]:
a = 3
b = 3

del(a) # 이걸 실행한 직후 3이라는 객체는 RC가 1이라 살아있음
del(b) # 이걸 실행한 직후에는 3이라는 객체는 RC가 0이라 소멸

변수 만들기

1. 튜플의 형태로

In [ ]:
a, b = 'python', 'life' # 튜플은 최초 생성시에만 괄호 안해도 됨됨
(a, b) = ('python', 'life')

2. 리스트를 이용하여

In [ ]:
[a, b] = ['python', 'life']

3. 여러 변수에 같은 값 대입

In [ ]:
a = b = 'python'

In [ ]:
a = 3
b = 5
a, b = b, a # 쉽게 두 변수의 값을 바꿀 수 있음

print(a)
print(b)

5
3

# 제어문

자료형을 근간으로 하여 그것들의 흐름을 원활히 효율적으로 만들어 주는 것

## if문

if문 +  else문으로 구성
- if문: 조건문이 참이면 if 블록들을 수행
- else문: 조건문이 거짓이면 else 블록들을 수행
- 같은 수준의 코드 블록에 대해서는 언제나 같은 깊이로 들여쓰기 하기 !!!!!!!! -> 파이썬은 들여쓰기로 블록 레벨을 해석하기 때문

In [ ]:
money = 1
if money:
  print("You can buy something")

# 조건문 = money인데, 1이기 때문에 참이 됨(숫자는 0이 되어야 거짓)

** 한 줄짜리 if문

if문 다음에 수행할  한 문장을 : 뒤에 바로 적어주면 됨

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket: print("택시를  타고 가라")
else: print("걸어가라")

택시를  타고 가라

**inline if문

if문을 단순화한 버젼, 단순 비교문 작성 시 편리하다

**statement 1 if 조건문 else statement 2** :  조건문이 참이면, statement 1 수행, 아니면 statement 2 수행

## 조건문

### 비교 연산자

- x < y : x가 y보다 작다
- x > y : x가 y보다 크다

- x >= y : x가 y보다 크거나 같다
- x <= y : x가 y보다 작거나 같다

- x != y : x가 y랑 같지 않다
- x == y : x가 y랑 같다

**  cf) x = y : y를 x에 넣고 x가 0인지 아닌지 판단

### 논리 연산자

a and b : 모두 참이어야 참

a or b : 들 증 하나만 참이면 참

not a : a가 거짓이면 참

* 우선순위: 비교연산 > 논리연산

### in, not in

열거형 데이터 (리스트, 튜플, 문자열)에서 사용,

- a in b :  b라는 리스트/튜플/문자열에 원소 a가 있는지

- a not in b :  b라는 리스트/튜플/문자열에 원소 a가 없는지

In [ ]:
# 주머니에 돈이 있으면 택시를 타고 없으면 걸어가라

pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
  print("택시를  타고 가라")
else:
  print("걸어가라")

택시를  타고 가라

### None

변수를 초기화하여 어직 값을 갖고 있지 않은 상태의 값

* 조건문에서는 단독으로 사용되면 '거짓'으로 취급
* 0 또한 조건문 내에서 단독으로 사용되면 '거짓'으로 취급 (0의 의미 != None의 의미)

### elif(다중 조건 판단)

if와 else만으로는 다양한 족선 판단을 하기가 어려워 elif 사용

- elif는 이전 조건문이 거짓일때 수행됨
-elif는 갯수 제한 없이 사용할 수 있음

In [ ]:
# 지갑에 돈이 있으면 택시를 타고, 지갑엔 돈이 없지만 카드가 있으면 택시를 타고, 돈도 없고 카드도 없으면 걸어가라

pocket = ['paper', 'cellphone']
card = 1

if 'money' in pocket:
  print("택시를  타고 가라")
elif card:
  print("택시를  타고 가라")
else:
  print("걸어가라")

택시를  타고 가라

### pass

조건문 안의 수행 문장에서 아무런 일도 하지 않게끔 하고 싶을 때 사용

In [ ]:
# 주머니에 돈이 있으면 가만히 있고, 지갑에 돈이 없으면 카드를 꺼내라

pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket:
  pass #pass로 인해 아무런 결과값이 나오지 않음
else:
  print("카드를 꺼내라")

## **while문**

반복해서 문장을 수행해야 할 경우 사용: 조건문이 참인 동안 While문에 속하는 문장들이 반복해서 수행됨

### 무한루프(endless loop)

: while의 조건문이 True이므로 조건문이 항상 참 -> While문 내의 문장들이 무한하게 수행

In [ ]:
while True:
  print("Ctrl -c를 눌러야 while문을 빠져 나갈 수 있습니다.")

break문(break) : while 루프 탈출 가능

continue(continue) : while문 안에서 수행 중에 while문의 처음 조건문 검사 부분으로 돌아갈 수 있음

In [ ]:
a = 0
while a < 10:
  a = a + 1
  if a % 2 == 0: #짝수이면 처음으로 돌아감, print 수행안함
    continue
  print(a)

1
3
5
7
9

## for문

형태:

for 변수 in 리스트/튜플/문자열:

 수행문

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0 #학번

for mark in marks:
  number = number + 1
  if mark >= 60:
    print("%d번 학생은 합격입니다."%number)
  else:
    print("%d번 학생은 불합격입니다."%number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.


-> 마지막 요소까지 차례로 변수에 대입되어 수행문을 수행

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0 #학번

for mark in marks:
  number = number + 1
  if mark < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다."%number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

-> for문도 break(끝내기), continue(처음 조건으로 돌아가기) 사용 가능

### for문과 range 함수

range 함수  : 숫자리스트를 자동으로 만들어 주는 함수
- range(10) : 0부터 10미만의 숫자 range객체를 만든다 (0~9)

In [ ]:
sum = 0
for i in range(1, 11): # 1~10까지 다 더하는 프로그램
  sum = sum + i
print(sum)

55

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0 #학번

for number in range(len(marks)): # len() 리스트의 요소 개수를 돌려주는 함수, range(len(marks)) = range(5)
  if marks[number] < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다."%(number  + 1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
a = [(1,2), (3,4), (5,6)] # 리스트 a의 요소값은 튜플이기 때문에 루프 마다의 요소들이 (first,last)에 대입된다
for (first,last) in a:
  print(first + last, end=" ")

3 7 11

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print(i*j, end=" ")
  print("") # Enter 기능

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

### 리스트 내포(lList Comprehenshion)

이를 이용하여 조금 더 직관적인 프로그램을 만들 수 있음

In [ ]:
result = [ x*y for x in range(2,10) for y in range(1, 10) ]

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]